[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
debugpy = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.11"

[packages]
toml = "*"
fastapi = "*"
uvicorn = "*"
faiss-cpu = "*"
pandas = "*"
requests = "*"
dotenv = "*"
celery = "*"
redis = "*"
flower = "*"
accelerate = "*"
sentencepiece = "*"
protobuf = "*"
numpy = "<2"
transformers = "<4.41"
sqlalchemy = "*"
jose = "*"
python-jose = "*"
python-multipart = "*"
bcrypt = "==3.2.0"
passlib = "==1.7.4"
flask = "*"
